* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #ff6400;
    --second-color: #333;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    color: var(--second-color);
    line-height: 1.6;
    font-size: 16px;
}

header {
    position: fixed;
    width: 85%;
    margin: 0 auto;
    height: 70px;
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    column-gap: 100px;
    align-items: center;
    font-size: 18px;
}
a{
    /* color: var(--second-color); */
    text-decoration: none;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    /* padding: 10px; */
}
.btn{
    color: white;
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 8px;
    text-decoration: none;
}

header p {
    /* color: aliceblue; */
    background-color: var(--main-color);
    padding: 8px 32px;
    border-radius: 10px;
}
.highlight {
    color: var(--main-color);
}

/* Hero */
.hero {
    width: 85%;
    height: 100vh;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: azure;
}
.hero-ctn {
    /* width: 50%; */
    /* margin-top: 100px; */
    background-color: beige;
}
.hero-ctn h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero-ctn p {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 550;
    line-height: 1.2;
    color: #413e3e;
}

.hero-img {
    width: 50%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b');
    background-size: cover;
    background-position: center;
}
.down {
    margin-top: 50px;
}
.down svg {
    color: var(--main-color);
    padding: 10px;
    /* border: 1px solid var(--main-color); */
    border-radius: 50%;
    box-shadow: 1px 1px 20px #ff6600b3;
}