* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #ff6400;
    ---text-color: #2e2d2d;
    --second-color: #717070;
    --card-section-1: #f3c00d;
    --card-section-2: #03ee6c;
    --card-section-3: #886fee;
    --card-section-4: #e67639;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    color: #2e2d2d;
    line-height: 1.6;
    font-size: 16px;
}

header {
    position: fixed;
    width: 85%;
    inset: 0px;
    margin: 0 auto;
    height: 70px;
    /* background-color: turquoise; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
nav {
    display: flex;
    column-gap: 100px;
    align-items: center;
    font-size: 18px;
}

nav span img {
    width: 50px;
    height: 50px;
    /* object-fit: cover; */
}  
nav span {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}    
nav span{
    font-size: 18px;
    font-weight:700;
}
a{
    /* color: var(--second-color); */
    text-decoration: none;
}
nav a{
    color: var(---text-color);
    text-decoration: none;
    font-weight: 600;
    /* padding: 10px; */
}
.btn{
    color: white;
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 8px;
    text-decoration: none;
}

header p {
    /* color: aliceblue; */
    background-color: var(--main-color);
    padding: 8px 32px;
    border-radius: 10px;
}
.highlight {
    color: var(--main-color);
}

/* Hero */
.hero {
    width: 80%;
    height: 100vh;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: azure; */
}
.hero-ctn {
    /* width: 50%; */
    /* margin-top: 100px; */
    /* background-color: beige; */
}
.hero-ctn h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero-ctn p {
    font-size: 24px;
    margin-bottom: 70px;
    font-weight: 550;
    line-height: 1.2;
    color: var(--second-color);
}

.hero-img {
    width: 60%;
    height: 100vh;
    background-image: url('/imgs/hero.png');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center -150px;
}
.down {
    margin-top: 70px;
}
.down svg {
    color: var(--main-color);
    padding: 10px;
    /* border: 1px solid var(--main-color); */
    border-radius: 50%;
    box-shadow: 1px 1px 20px #ff6600b3;
}

.sec1 {
    width: 85%;
    margin: 0 auto;
    padding: 0px 0px 100px 0px;
}
.sec1-ctn{
    
}
.sec1-ctn h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.sec1-ctn p {
    font-size: 22px;
    margin-bottom: 50px;
    font-weight: 550;
    line-height: 1.2;
    color: var(--second-color);
    text-align: center;
}
.sec1-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 330px;
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 20px #00000039;
}
.card::before{
    content: '';
    position: absolute;
    top: -50px;
    left: -10px;
    width: 120px;
    height: 140px;
    background-color: #f3c00d;
    border-radius: 30px 100px 35px 30px;
    z-index: -1;
}
.card:nth-child(2)::before{
    background-color: #03ee6c;
}
.card:nth-child(3)::before{
    background-color: #886fee;
}
.card:nth-child(4)::before{
    background-color: #f43a01;
    background-color: #e67639;
}
.card h3 {
    font-size: 24px;
    margin-top: 20px;
}

.card p {
    color: var(--second-color);
}

.iconify--fe,.iconify--iconoir,.iconify--ph,.iconify--heroicons {
    color: rgb(255, 255, 255);
    z-index: 100;
    transform: translateX(10px);
    /* margin-bottom: 20px; */
}
.sec2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 12.5% 100px 12.5%;
    background-color: rgb(245, 234, 228);

}

.sec2-img {
    width: 50%;
    transform: scaleX(-1);
    background-image: url(imgs/erasebg-transformed.png);
    background-size: 135%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;
}

.sec2-ctn {
    position: relative;
}
.sec2-ctn h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    /* text-align: center; */
}
.sec2-ctn >p {
    font-size: 22px;
    margin-bottom: 50px;
    font-weight: 550;
    line-height: 1.2;
    color: var(--second-color);
    /* text-align: center; */
}


.time-l-item{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
}

.t-num  {
    /* padding: 15px; */
    width: 55px;
    height: 55px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 3;
}

.time-l-text p{
    line-height: 1.2;
    color: var(--second-color);
}
.btns {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.btns a{
    color: white;
    padding: 10px 40px;
    background-color: var(--main-color);
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 1px 1px 20px #00000032;
}
.btns a:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.time-line-bar {
    width: 2px;
    height: 300px;
    background-color: var(--main-color);
    margin-left: 26px;
    bottom: 100px;
    z-index: 1;
    position: absolute;
}



.sec3{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: #03ee6c; */
    align-items: center;
}
.sect3-ctn {
    /* width: 50%; */
    /* background-color: aliceblue; */
}

.sect3-ctn h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sect3-ctn >p {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 1.3;
    color: var(--second-color);
}
.sect3-ctn a{
    color: white;
    padding: 10px 40px;
    background-color: var(--main-color);
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 1px 1px 20px #00000032;
}
.sect-3-img {
    width: 50%;
    height: 600px;
    background-image: url(imgs/man-working-on-laptop-3d-illustration-download-in-png-blend-fbx-gltf-file-formats--work-from-home-male-employee-business-startup-pack-professionals-illustrations-3916848.webp);
    background-size: 130%;
    background-position: center;
}
.sect-3-img img{
    /* width: 140%; */
    
}

.swiper {
    padding: 150px 0px;
}

.sec4{
    /* width: 100%; */
    position: relative;
    min-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0px 200px 0px;
    
}

.sec4-ctn h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.sec4-ctn p {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 1.3;
    color: var(--second-color);
    text-align: center;
}

.sec4-testimonial {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    justify-content: space-between;
    gap: 50px;
}

.t-card {
    min-width: 400px;
    box-shadow: 1px 1px 10px #00000032;
    border-radius: 10px;
    padding: 20px;
}
.t-card> p {
    margin: 10px 0;
    color: var(--second-color);
}
.img-name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-name img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 99px;
}


.img-n >p{
    /* color: var(--second-color); */
}
.img-n h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -10px;
    color: var(--main-color);
}

.img-n p {
    font-size: 18px;
    font-weight: 500;
    color: var(--second-color);
}

/*  */

.sec5 {
    width: 85%;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 282px);
    position: absolute;
    border-radius: 8px;
    padding: 30px 50px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

.sec5 p {
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.sec5 a {
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    background-color: var(--main-color);
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid white;
}

/* footer */

.footer {
    width: 100%;
    padding: 150px 0px 200px 0px;
    background-color: rgb(245, 234, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(33, 32, 32);
    font-size: 18px;
    position: relative;
}

.footer-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links {

}

.footer-links ul {
    text-decoration: none;
    list-style: none;
}

.footer-links ul li a {
    color: #413e3e;
    text-decoration: none;
}
.foob {
    position: absolute;
    margin: auto;
    bottom: 0px;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 2px);
    height: 70px;
    overflow: hidden;
    width: 100%;
    
}
.footer-bottom {
    width: 1800px;
    width: 100%;
    height: 190px;
    padding: 30px;
    border-top-left-radius: 10000px;
    border-top-right-radius: 1000px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.footer-bottom p {
    text-align: center;
    color: white;
}